.creative-building-item {background: #ececec; width: max(228px, calc(25% - .5rem)); overflow:clip; border-radius:.875rem;}
body.darkMode .creative-building-item { background: #343c4a; }
/*.creative-building-item:hover {background-color: #c6f7b9 !important}
body.darkMode .creative-building-item:hover { background: #2d5223 !important; }
*/
.creative-building-item .btn {visibility:hidden;}
.creative-building-item:hover .btn {visibility:visible;}

.creative-building-item.invalid {background: #ffd1d1;}
body.darkMode .creative-building-item.invalid {background: #5b222d;}

.creative-building-item .pill-resource {border-radius: .25rem; background-color: #444f59; padding:.2rem .4rem;font-size: 12px;}
.creative-building-item .pill-resource img {height: 14; width: 14px; margin: 0 2px;}

@media (max-width: 1755px) { .creative-building-item { width: max(228px, calc(33% - .5rem));} }
@media (max-width: 1401px) { .creative-building-item { width: max(228px, calc(50% - .5rem));} }
@media (max-width: 1047px) { .creative-building-item { width: max(228px, 100%);} }
@media (max-width: 991px) { .creative-building-item { width: max(228px, calc(33% - .5rem));} }
@media (max-width: 799px) { .creative-building-item { width: max(228px, calc(50% - .5rem));} }
@media (max-width: 535px) { .creative-building-item { width: max(228px, 100%);} }